*{
  margin: 0;
  padding: 0;
}

.ddd{

}

body{
  background: #F8F8F8;
  font-family: 'TT Lakes Regular';
}


.flex-container{
  display: flex;

  height: 88px;
  justify-content: space-between;
  border-bottom: 1px solid #D9FFF5;
}

.header-right{
  width: 60%;
}
.header-left{
  width: 40%;
}

.header-right, .header-left{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.line{
  height: 32px;
  width: 2px;
  background-color: #EAEAEA;
  border: none;
}

.line-title{
  position: absolute;
  width: 4px;
  height: 40px;
  left: 0;
  top: 24px;
  bottom: 74.54%;
  background: #41F6D7;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.icon{
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon-menu{
  background-image: url("images/icon/icon-menu.png");
}

.icon-setting{
  background-image: url("images/icon/icon-setting.png");
}

.icon-search{
  background-image: url("images/icon/icon-search.png");
}

.icon-phone {
  background-image: url("images/icon/icon-phone.png");
}
.icon-chat {
  background-image: url("images/icon/icon-chat.png");
}
.icon-contacts {
  background-image: url("images/icon/icon-contacts.png");
}

.logo{
  width: 98px;
  height: 50px;
  background-image: url("images/logo.png");
}

.icon-hidden, .text-hidden{
  display: none;
}

.icon-hidden{
  font-size: 16px;
  color:#1B1C21;
  font-weight: bold;
}

/*-----------------------------main------------------------------*/

main{
  position: relative;
}

.indent{
  padding: 24px 16px;
}

.indent-block{
  padding: 0 16px;
}

h1 {
  font-family: 'TT Lakes Bold';
  font-size: 28px;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: -0.6px;
  color: #1B1C21;
}

nav{
  margin: 10px 0px;
}

nav ul{
  display: flex;
  overflow-y: auto;
  list-style: none;
  height: 60px;
}

nav ul li > input[type="radio"] {
  display: none;
}

nav ul li > label {
  position: relative;
  display: block;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 233px;
  color: #7E7E82;
}

nav ul li > label::after {
  content: "";
  position: absolute;
  left: 0;
  height: 40px;
  width: 233px;
  color: #7E7E82;
}

nav ul li > input:checked + label::after {
  border: 2px solid #B8FFEC;
  background-color: rgba(255, 255, 255, 0.01);
  border-radius: 4px;

}

.tab-set .tab-panel {
  position: relative;
  /*display: none;*/
}

.tab-set .tab-panel img:last-child{
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.tab-set .tab-panel h3, p{
  font-family: 'TT Lakes Regular';
  color: #7E7E82;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

/*nav ul li #tab1:checked ~ .tab-panels > .tab-panel:first-child*/
  /*#tab2:checked ~ .tab-panels > .tab-panel:nth-child(2),*/
  /*#tab3:checked ~ .tab-panels > .tab-panel:nth-child(3)*/
/*{*/
/*  display: block;*/
/*}*/

.read-more{
  margin: 16px;
}

.read-more strong{
  color: #1B1C21;
  font-family: 'TT Lakes Bold';
  font-size: 16px;
  margin-left: 15px;
}

/*---------------------------------media css --------------------------------*/

@media screen and (min-width: 768px) {
  .header-right{
    width: 30%;
  }
  .icon-hidden{
    display: block;
  }

  .header-right .line{
    order: -1;
  }

  .icon.icon-menu{
    order: -2;
  }

  .indent, .indent-block {
    padding: 0;
  }

  main{
    padding: 24px 16px;
  }

  .tab-panel, .tab-panel_content{
    display: flex;
  }

  .tab-panel_content{
    flex-direction: column;
    justify-content: space-around;
  }

  .tab-set .tab-panel .text-hidden{
    display: block;
  }

  .tab-set .tab-panel p{
    width: 90%;
  }

  .tab-set .tab-panel img:last-child{
    width: 360px;
    height: 259px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1120px){
  .header-left {
    width: 35%;
  }
  .header-right {
    width: 20%;
  }
  .icon-hidden{
    display: none;
  }

  .tab-set .tab-panel h3, .text-hidden{
    display: block;
  }

  .tab-set .tab-panel img:last-child{
    width: 530px;
    height: 380px;
    margin-bottom: 20px;
  }
}


@font-face {
  font-family: 'TT Lakes Bold';
  src: url('fonts/lakes-bold/TTLakes-Bold.eot');
  src: url('fonts/lakes-bold/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/lakes-bold/TTLakes-Bold.woff') format('woff'),
  url('fonts/lakes-bold/TTLakes-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Regular';
  src: url('fonts/lakes-regular/TTLakes-Regular.eot');
  src: url('fonts/lakes-regular/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/lakes-regular/TTLakes-Regular.woff') format('woff'),
  url('fonts/lakes-regular/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
















